@charset "UTF-8";
/* VARIABLES */
/* BIENVENIDO A VARIABLES    NOTAS CLASE 11


Las variables son estilos preseteados que SE REPITEN O REUTILIZAN EN MUCHAS SECCIONES de nuestra pagina
Estas pueden llegar a ser por ejemplo:

COLORES

DIMENCIONES

FUENTES

para poder llemarlas dentro de nuestro archivo (averiguar como)
es necesario anteponer el simbolo del peso " $ $ seguido por el nombre de nuestra variable

$tipografia-para-h1:normal 24px/1.5"Helvetica", sans-serif

o tambien puede guardar los colores que ya predestinamos para nuestra página

$color-rojo:#696969

--------------------------------------------------------------------------------------------------

un ejemplo de var podriaN SER LOS COLORES DE LA MARCA

$rojo-marca:#393939;
$negro-marca:#5gh41;
$blanco-marca:#fffffff;
etc

(estos son valores ficticios)

--------------------------------------------------------------------------------------------------


VARIABLES GLOBALES       V/S        variables locales

Una variable global es la cual guardamos en este achivo y que despues solo la llamaremos en las distintas hojas de nuestro scss

en cambio

una variable local es la cual se coloca DENTRO de una seccion de codigo ej

.rrssIndex {                   ---------> MURO

    $azul-prueba-de-var-local: #7545FF; ---------> VAR LOCAL           

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end; 

}                              ---------> MURO

cada vez que una var este dentro de una seccion de codigo esta pasara a tener el nombre de variable LOCAL
y SOLO AFECTA A ESA PORCION DEL CODIGO! 
NUNCA A MAS 
en este caso los muros que limitran que esta variable sea global son las llaves que le colocamos al codigo { }



--------------------------------------------------------------------------------------------------


REPASAR DEFAULT PARA LAS VARS




*/
/* ESTILOS GENERALES POR ETIQUETA */
@font-face {
  font-family: "tommyBold";
  src: url(tipos/bold.ttf); }

/*estructura base para quitar margenes pre definidos por norma */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ESTILOS GENERALES */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: #141414; }

p {
  font-style: normal;
  font-weight: normal;
  color: #ffffff; }

h1 {
  font-weight: bold;
  font-size: 500%;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 20px;
  margin: 20px; }

h2 {
  font-weight: bold;
  font-size: 500%;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 20px;
  margin: 20px; }

em {
  font-style: normal;
  font-weight: bold;
  font-size: 120%;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  margin: 20px; }

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 120%;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  margin: 20px; }

.nav {
  background-color: #141414; }

/* FIN ESTILOS GENERALES */
/* HEADER INICIO */
.logoJSP {
  width: 80px;
  margin: 10px;
  padding: 5px; }

.titularDePagina {
  background-image: url("../img/portadas/portada1.jpg");
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0 0 0;
  padding: 100px 30px 30px 0px; }

.titularDePagina__titulo {
  padding-top: 200px; }

.titularDePagina__contenedorBoton {
  padding: 20px 50px; }

.titularDePagina__estiloDeBoton {
  font-weight: bold;
  font-size: 200%;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border-radius: 15px;
  box-shadow: 0 -100px #ffffff inset; }

.titularDePagina__estiloDeBoton:hover {
  box-shadow: 0 -100px #000000 inset;
  transition: 1s; }

.rrssIndex {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.rrssIndex__lista {
  list-style-type: none;
  display: inline-block;
  margin: 30px 0px;
  padding: 20px; }

.rrssIndex__enlace {
  text-transform: none;
  text-decoration: none;
  color: #6a6a6a; }

.rrssIndex__enlace:hover {
  text-decoration: underline #ffffff;
  color: #ffffff;
  transition: all 0.5s; }

.rrssIndexContacto {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.rrssIndexContacto__lista {
  list-style-type: none;
  display: inline-block;
  margin: 30px 10px;
  padding: 20px; }

.rrssIndexContacto__enlace {
  text-transform: none;
  text-decoration: none;
  color: #6a6a6a; }

.rrssIndexContacto__enlace:hover {
  text-decoration: underline #ffffff;
  color: #ffffff;
  transition: all 0.5s; }

/* HEADER FIN */
/* MAIN INICIO */
.mensajeSaludo {
  text-align: center;
  padding: 250px; }

.mensajeSaludo__hola {
  font-size: 250%;
  color: #ffffff;
  margin: 5px 20px;
  text-transform: lowercase; }

.mensajeSaludo__miNombre {
  color: #ffffff;
  margin: 5px 20px;
  color: #ffffff;
  transition: all 0.5s; }

/* MAIN FINAL */
.cuerpoIndex {
  margin-bottom: 200px; }

/* ASIDE INICIO */
.aside {
  display: flex;
  flex-direction: column; }

.aside__contactoMailTelegram {
  margin: 0px 40px; }

.aside__lista {
  list-style-type: none;
  display: block;
  margin: 10px; }

.aside__enlace {
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  color: #6a6a6a; }

.aside__enlace:hover {
  text-decoration: underline #e41a31;
  color: #ffffff;
  transition: all 0.5s; }

.aside__botonPortfolio {
  font-style: normal;
  text-decoration: none;
  color: #6a6a6a;
  margin: 0px 40px; }

.aside__botonPortfolio:hover {
  text-decoration: underline #ffffff;
  color: #ffffff;
  transition: all 0.5s; }

.aside__sociales {
  margin: 0px 40px; }

.aside__lista {
  list-style-type: none;
  display: block;
  margin: 10px; }

.sociales li a {
  font-style: normal;
  text-decoration: none;
  color: #6a6a6a;
  list-style-type: none; }

.sociales li a:hover {
  text-decoration: underline #ffffff;
  color: #ffffff;
  transition: all 0.5s; }

/* ASIDE FINAL */
/* DESCRIPCION INICIO */
.descripcionIndex {
  padding: 10px; }

.descripcionIndex p {
  color: #ffffff;
  font-size: 150%;
  text-align: justify;
  margin-bottom: 30px; }

.descripcionIndex p a {
  text-decoration: none;
  color: #6a6a6a; }

.descripcionIndex p a:hover {
  text-decoration: underline #ffffff;
  color: #ffffff;
  transition: all 0.5s; }

/* DESCRIPCION FINAL */
/* CLIENTES INICIO */
.clientes {
  width: 100vw;
  background-color: #141414;
  justify-content: space-around; }

article {
  display: inline-block;
  margin: 20px; }

h4 {
  font-size: 50px;
  color: #ffffff;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 150px; }

img {
  width: 140px;
  padding-bottom: 200px; }

.clientes img:hover {
  transform: translateY(-20px);
  opacity: 50%; }

/* CLIENTES FINAL */
/* FOOTER INICIO */
.footer {
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.caraJSP {
  width: 100px;
  padding: 15px; }

.copyRight {
  font-size: 80%;
  color: #ffffff;
  padding: 50px; }

.copyRight::before {
  content: "";
  position: absolute;
  width: 1050px;
  height: 3px;
  background-color: #ffffff;
  top: 1em; }

/* FOOTER FINAL */
/* ESTILO PARA FORMULARIO */
.formulario {
  margin: 50px; }
  .formulario label {
    color: #ffffff; }

/* TIMELINE CSS */
.timeline {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.625em;
  position: relative; }

.timeline
li {
  background: #e41a31;
  position: relative;
  margin: 0 auto;
  width: 2px;
  padding-bottom: 40px;
  list-style-type: none; }

.timeline ul li:last-child {
  padding-bottom: 7px; }

.timeline ul li:before {
  content: '';
  background: #ff0e56;
  position: absolute;
  top: 40%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #851818;
  border-radius: 50%;
  /* BORDE DE LOS CIRCULOS */ }

.timeline ul li .hidden {
  opacity: 0; }

.timeline ul li .content {
  background-color: #141414;
  border-radius: 10px;
  box-shadow: 0px 10px 27px 3px #000000;
  position: relative;
  top: 7px;
  width: 450px;
  padding: 30px; }

.timeline time {
  font-size: 20px; }

.timeline ul li .content h4 {
  padding-bottom: 10px;
  text-align: center; }

.timeline ul li .content p {
  text-align: center;
  margin-bottom: 5px; }

.timeline ul li .content p b {
  color: #e41a31; }

.timeline ul li .content {
  left: 50px; }

.timeline ul li:nth-child(even) .content {
  left: calc(-430px - 45px); }

.text-center {
  text-align: center; }

.mb-10 {
  margin-bottom: 10px; }

.pb-70 {
  padding-bottom: 70px; }

.section-pad {
  padding: 120px 0; }

.cabecera-Txt em {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 50px; }

.cabecera-Txt p {
  color: #ffffff; }

/* ESTILOS PARA SECCION DE CONTACTO */
.rrssIndexContacto {
  margin-top: 50px; }
  .rrssIndexContacto a {
    color: #ffffff;
    font-size: 20px; }

.rrssIndexContacto a:hover {
  color: #000000;
  text-decoration: underline #000000; }

.areaTexto {
  background-color: #141414;
  border: solid #e41a31; }

.botonSumbit {
  background-color: #e41a31;
  border: #141414;
  box-shadow: 0 -5px #BC1833 inset; }

.botonSumbit:hover {
  background-color: #6a6a6a;
  color: #000000;
  box-shadow: 0 -100px #ffffff inset;
  transition: 1s; }

.googleMaps {
  padding-bottom: 150px;
  align-items: center; }

/* ESTILOS SECCION PORTFOLIO */
.revisionPortfolio {
  padding-bottom: 150px; }
  .revisionPortfolio em {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 50px; }

.tabla {
  color: #3a3939;
  background-color: #000000; }
  .tabla a {
    color: #3a3939; }

.tabla_hover tr:hover {
  color: #000000;
  background-color: #ffffff; }
  .tabla_hover tr:hover a {
    text-decoration: underline #3a3939;
    color: #3a3939; }

/* ------------------------------ Media Queries --------------------------- */
/* MEDIAS PARA TIMELINE */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .timeline ul li {
    margin-left: 20px; }
  .timeline ul li .content {
    width: calc(120vw - 190px); }
  .timeline ul li:nth-child(even) .content {
    left: 45px; } }

/* MEDIAS QUERYS INDEX */
@media only screen and (min-width: 360px) and (max-width: 768px) {
  .titularDePagina__titulo {
    font-size: 250%;
    margin: -20px; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .rrssIndex {
    display: none; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .infoHiddenXS {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 3440px) {
  .infoHiddenXL {
    display: none;
    margin-top: 0px;
    margin-bottom: 50px; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .cuerpoIndex {
    margin-bottom: 0px; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .mensajeSaludo {
    margin: 150px 0px 150px 0px;
    padding: 10px; } }

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .aside {
    margin: 10px 0px 100px 0px; }
  .aside__contactoMailTelegram {
    margin: 0px -5px; }
  .aside__botonPortfolio {
    margin: 0px 5px; }
  .aside__sociales {
    margin: 0px -5px; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .descripcionIndex {
    margin: 10px 10px 0px 10px; }
  .descripcionIndex p {
    font-size: 100%;
    font-weight: lighter;
    text-align: left; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .clientes {
    padding-bottom: 100px; }
  h4 {
    /*cambie esto */
    font-size: 200%;
    text-transform: none;
    text-align: left;
    margin-bottom: 50px; }
  article {
    align-items: center; }
  img {
    width: 120px;
    padding: 10px; } }

/* MEDIAS PORTAFOLIO */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .rrssIndexContacto {
    display: none; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .revisionPortfolio {
    display: none; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .copyRight {
    align-self: center;
    margin: 0px;
    padding-top: 30px; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .copyRight::before {
    content: "";
    position: absolute;
    width: 310px;
    height: 3px;
    background-color: #ffffff; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .caraJSP {
    width: 90px;
    margin-right: 20px; } }
