
/* ESTILOS GENERALES POR ETIQUETA */

@mixin estiloBody {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $medidaPorcentual100;
    background-color: $gris78; 
}

@mixin estiloParrafo {
    font-style: normal;
    font-weight: normal;
    color: $blanco; 
}

@mixin estiloH1 {
    font-weight: bold;
    font-size: $medidaPorcentual100 * 5;
    text-transform: uppercase;
    text-decoration: none;
    color: $blanco;
    padding: 20px 20px;
    margin: 20px; 
}

@mixin estiloEm {
    font-style: normal;
    font-weight: bold;
    font-size: $medidaPorcentual100 + 20%;
    text-transform: uppercase;
    text-decoration: none;
    color: $blanco;
    margin: $medida10Px * 2;
}