/* VARIABLES */


@import"medidas";
@import"colores";
@import"mixing";

@font-face{
    font-family: "tommyBold";
    src: url(tipos/bold.ttf);
}
/*estructura base para quitar margenes pre definidos por norma */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }



/* ESTILOS GENERALES */
body {
    @include estiloBody;
}
p {
    @include estiloParrafo;
}
h1 {
    @include estiloH1;
}
h2 {
    @include estiloH1;
}
em {
    @include estiloEm;
}
h3 {
    @include estiloEm;
}
.nav{
    background-color: $gris78;
}


/* FIN ESTILOS GENERALES */



/* HEADER INICIO */
.logoJSP {
    width: $medida10Px * 8;
    margin: $medida10Px;
    padding: $medida10Px - 5px; }

.titularDePagina {
    background-image: url("../img/portadas/portada1.jpg");
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0 0 0;
    padding: 100px 30px 30px 0px
    }

    .titularDePagina__titulo{
        padding-top: 200px;
    }

    .titularDePagina__contenedorBoton {
        padding: 20px 50px;
        }
        .titularDePagina__estiloDeBoton {
            font-weight: bold;
            font-size: 200%;
            font-style: normal;
            text-transform: uppercase;
            text-decoration: none;
            color: $negro;
            border-radius: 15px;
            box-shadow: 0 -100px $blanco inset;
        }
        .titularDePagina__estiloDeBoton:hover{
            box-shadow: 0 -100px $negro inset;
            transition: 1s;
        }

.rrssIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    .rrssIndex__lista{
        list-style-type: none;
        display: inline-block;
        margin: 30px 0px;
        padding: $medida10Px * 2; }
        .rrssIndex__enlace {
        text-transform: none;
        text-decoration: none;
        color: $gris55; }
        .rrssIndex__enlace:hover {
            text-decoration: underline $blanco;
            color: $blanco;
            transition: all 0.5s; }


.rrssIndexContacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    .rrssIndexContacto__lista{
        list-style-type: none;
        display: inline-block;
        margin: 30px 10px;
        padding: $medida10Px * 2; }
        .rrssIndexContacto__enlace {
        text-transform: none;
        text-decoration: none;
        color: $gris55; }
        .rrssIndexContacto__enlace:hover {
            text-decoration: underline $blanco;
            color: $blanco;
            transition: all 0.5s; }

/* HEADER FIN */



/* MAIN INICIO */
.mensajeSaludo {
    text-align: center; 
    padding: 250px;
}
    .mensajeSaludo__hola{
        font-size: $medidaPorcentual100 + 150;
        color: $blanco;
        margin: 5px 20px;
        text-transform: lowercase;}
    .mensajeSaludo__miNombre{
        color: $blanco;
        margin: 5px 20px;
        color: $blanco;
        transition: all 0.5s; }

/* MAIN FINAL */ 

.cuerpoIndex{
    margin-bottom: 200px;
}

/* ASIDE INICIO */
.aside {
    display: flex;
    flex-direction: column; }

    .aside__contactoMailTelegram{
        margin: 0px 40px; }
        .aside__lista {
            list-style-type: none;
            display: block;
            margin: 10px; }
        .aside__enlace {
            font-style: normal;
            text-transform: none;
            text-decoration: none;
            color: $gris55; }
        .aside__enlace:hover {
            text-decoration: underline $rojoMarca;
            color: $blanco;
            transition: all 0.5s; }

.aside__botonPortfolio{
    font-style: normal;
    text-decoration: none;
    color: $gris55;
    margin: 0px 40px; }
    .aside__botonPortfolio:hover {
        text-decoration: underline $blanco;
        color: $blanco;
        transition: all 0.5s; }

.aside__sociales {
    margin: 0px 40px; }
    .aside__lista{
        list-style-type: none;
        display: block;
        margin: 10px; }
    .sociales li a {
        font-style: normal;
        text-decoration: none;
        color: $gris55;
        list-style-type: none; }
        .sociales li a:hover {
        text-decoration: underline $blanco;
        color: $blanco;
        transition: all 0.5s;} 


/* ASIDE FINAL */



/* DESCRIPCION INICIO */
.descripcionIndex {
    padding: $medida10Px; }
    .descripcionIndex p {
        color: $blanco;
        font-size: $medidaPorcentual100 + 50;
        text-align: justify;
        margin-bottom: $medida10Px * 3; }
    .descripcionIndex p a {
        text-decoration: none;
        color: $gris55; }
    .descripcionIndex p a:hover {
        text-decoration: underline $blanco;
        color: $blanco;
        transition: all 0.5s; }


/* DESCRIPCION FINAL */




/* CLIENTES INICIO */
.clientes {
    width: 100vw;
    background-color: $gris78;
    justify-content: space-around;
}
    article {
        display: inline-block;
        margin: $medida10Px * 2; }

    h4 {
        font-size: 50px;
        color: $blanco;
        font-weight: bolder;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 150px;}

    img {
        width: 140px;
        padding-bottom: $medida10Px * 20;}

.clientes img:hover {
    transform: translateY(-20px);
    opacity: 50%;
}


/* CLIENTES FINAL */


/* FOOTER INICIO */
.footer {
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.caraJSP {
    width: $medida10Px * 10;
    padding: $medida10Px + 5; 
}

.copyRight {
    font-size: $medidaPorcentual100 - 20;
    color: $blanco;
    padding: 50px;
}
.copyRight::before{
    content: "";
    position: absolute;
    width: 1050px;
    height: 3px;
    background-color: $blanco;
    top:1em;
}
    /* FOOTER FINAL */


/* ESTILO PARA FORMULARIO */
.formulario{
    margin: 50px;
    label{
        color: $blanco;
    }
}



/* TIMELINE CSS */

.timeline {
    color: $blanco ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.625em;
    position: relative;
}

.timeline 
    li {
        background: $rojoMarca;
        position: relative;
        margin: 0 auto;
        width: 2px;
        padding-bottom: 40px;
        list-style-type: none;
}

.timeline ul li:last-child {
    padding-bottom: 7px;
}

.timeline ul li:before {
    content: '';
    background: #ff0e56;
    position: absolute;
    top: 40%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid rgb(133, 24, 24);
    border-radius: 50%; /* BORDE DE LOS CIRCULOS */
}

.timeline ul li .hidden {
    opacity: 0;
}

.timeline ul li .content {
    background-color: $gris78 ;
    border-radius: 10px;
    box-shadow: 0px 10px 27px 3px $negro;
    position: relative;
    top: 7px;
    width: 450px;
    padding: 30px;
}

.timeline time{
    font-size: 20px;
}

.timeline ul li .content h4 {
    padding-bottom: 10px;
    text-align: center;
}

.timeline ul li .content p {
    text-align: center;
    margin-bottom: 5px;
}

.timeline ul li .content p b {
    color: $rojoMarca;
}


.timeline ul li .content {
    left: 50px;
}

.timeline ul li:nth-child(even) .content {
    left: calc(-430px - 45px);
}

.text-center {
    text-align: center;
}

.mb-10 {
    margin-bottom: 10px;
}

.pb-70 {
    padding-bottom: 70px;
}

.section-pad {
    padding: 120px 0;
}
.cabecera-Txt em{
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
}

.cabecera-Txt p{
    color: #ffffff;
}


/* ESTILOS PARA SECCION DE CONTACTO */

.rrssIndexContacto{
    margin-top: 50px;
    a{
        color: $blanco;
        font-size: 20px;
    }
}
.rrssIndexContacto a:hover{
        color: $negro;
        text-decoration: underline $negro;
}

.areaTexto{
    background-color: $gris78;
    border: solid $rojoMarca;
}

.botonSumbit{
    background-color: $rojoMarca;
    border: $gris78;
    box-shadow: 0 -5px #BC1833 inset
}

.botonSumbit:hover{
    background-color: $gris55;
    color: $negro;
    box-shadow: 0 -100px $blanco inset;
    transition: 1s;
}

.googleMaps{
    padding-bottom: 150px;
    align-items: center;
}

/* -------------------------
----- Media Queries ----- 
---------------------- */


/* MEDIAS PARA TIMELINE */

@media screen and (min-width:320px) and (max-width: 768px){
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li .content {
        width: calc(120vw - 190px);
    }
    .timeline ul li:nth-child(even) .content {
        left: 45px;
    }
}


/* MEDIAS QUERYS INDEX */

@media only screen and (min-width: 360px) and (max-width: 768px){
    .titularDePagina__titulo{
    font-size: ($medidaPorcentual100 * 2) + 50;
    margin: -20px;
    }
}


@media only screen and (min-width:320px) and (max-width: 768px){
    .rrssIndex{
        display: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px){
    .infoHiddenXS{
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 3440px){
    .infoHiddenXL{
        display: none;
        margin-top:0px ;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px){
    .cuerpoIndex{
        margin-bottom: 0px;
    }
}

@media only screen and (min-width:320px) and (max-width: 768px){
    .mensajeSaludo{
        margin: 150px 0px 150px 0px;
        padding: 10px;
    }
}




@media only screen and (min-width: 360px) and (max-width: 768px) {
    .aside{
        margin: 10px 0px 100px 0px;
    }
    .aside__contactoMailTelegram{
        margin: 0px -5px;
    }
    .aside__botonPortfolio{
        margin: 0px 5px;
    }
    .aside__sociales{
        margin: 0px -5px;
    }
}


@media only screen and (min-width:320px) and (max-width: 768px){
    .descripcionIndex{
    margin: 10px 10px 0px 10px;
}
    .descripcionIndex p{
        font-size: $medidaPorcentual100;
        font-weight: lighter;
        text-align: left;
    }
}


@media only screen and (min-width:320px) and (max-width: 768px){
    .clientes {
        padding-bottom: 100px;
    }
    
    h4{                                             /*cambie esto */
    font-size: $medidaPorcentual100 *2;
    text-transform: none;
    text-align: left;
    margin-bottom: 50px;
    
    }
    article{
        align-items: center;
    }
    img{
        width: $medida10Px * 12;
        padding: 10px;
    }
}

@media only screen and (min-width:320px) and (max-width: 768px){
    .copyRight{
        align-self: center;
        margin: 0px;
        padding-top: 30px;
    }
}

@media only screen and (min-width:320px) and (max-width: 768px){
    .copyRight::before{
        content: "";
        position: absolute;
        width: 310px;
        height: 3px;
        background-color: $blanco;
    }
}

@media only screen and (min-width:320px) and (max-width: 768px){
    .caraJSP{
        width: 90px;
        margin-right: 20px;
    }
}






































/* ESTILO TABLA*/ 
.tabla{
    color: $gris67;
    background-color: $negro;
    a{
        color: $gris67;
    }
}

.tabla_hover tr:hover{
    color: $negro;
    background-color: $blanco;
    a{
        text-decoration: underline $gris67;
        color: $gris67;
    }
}